
body, html {
  background-color: #D1E7FD;
}


.height-100 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flex-block {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
   cursor:pointer;  
}

.btn-dialog {
  min-width: 150px;
}

.func-btn {
   color:#808080;
}

.func-btn:hover {
  color: #000;
}

